@model BaseModels.TipoConsulta

@{
    ViewBag.Title = "Excluir";
}

<h2>ViewBag.Title</h2>

<h3>Tem certeza que deseja Excluir isso?</h3>

<div>
    <h4>TipoConsulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-success" /> |
            @Html.ActionLink("Voltar a Lista", "Index")
        </div>
    }
</div>
